.main-container {
 
  background-color: white;
 	width:100%;
  display: inline-block;
  padding: 10px;
}

.calc-box {
	margin: 0 auto;
	display: inline-block;
	padding: 2%;
	width: 35%;
}

#form {
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

#inputs {
	margin: auto;
	display: inline-block;
	width: 100%;

}

#buttons {
	margin: 50 auto;
	display: inline-block;
	width: 100%;
}

#first {
	text-align: center;
	margin: auto;
	width: 90%;

}

#second{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	width: 90%;
}

#ans-container {
	background-color: #888888;
  	display: inline-block;
	padding: 10px;
	width: 100%;

}

#result {
	text-align: center;
	

}

/*#past {
	background-color: red;
	width: 100%;
	margin: auto;
	display: inline-block;
}*/

li {
	text-align: center;
	color: #888888;
	list-style: none;
}

.button {
-moz-box-shadow: 3px 4px 0px 0px #8a2a21 ;
-webkit-box-shadow: 3px 4px 0px 0px #8a2a21 ;
box-shadow: 3px 4px 0px 0px #8a2a21 ;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f ), color-stop(1, #f24437 ));
background:-moz-linear-gradient(top, #c62d1f  5%, #f24437  100%);
background:-webkit-linear-gradient(top, #c62d1f  5%, #f24437  100%);
background:-o-linear-gradient(top, #c62d1f  5%, #f24437  100%);
background:-ms-linear-gradient(top, #c62d1f  5%, #f24437  100%);
background:linear-gradient(to bottom, #c62d1f  5%, #f24437  100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f ', endColorstr='#f24437 ',GradientType=0);
background-color:#c62d1f ;
-moz-border-radius:18px;
-webkit-border-radius:18px;
border-radius:18px;
border:1px solid #d02718 ;
display:inline-block;
cursor:pointer;
color:#ffffff ;
font-family:Verdana;
font-size:17px;
margin-right: 5px;
padding:7px 25px;
text-decoration:none;
text-shadow:2px 2px 0px #810e05 ;
}

*#inputs {
margin-top: 10px;
width: 100%;
height: auto;
}

#result {
}


.button:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437 ), color-stop(1, #c62d1f ));
background:-moz-linear-gradient(top, #f24437  5%, #c62d1f  100%);
background:-webkit-linear-gradient(top, #f24437  5%, #c62d1f  100%);
background:-o-linear-gradient(top, #f24437  5%, #c62d1f  100%);
background:-ms-linear-gradient(top, #f24437  5%, #c62d1f  100%);
background:linear-gradient(to bottom, #f24437  5%, #c62d1f  100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437 ', endColorstr='#c62d1f ',GradientType=0);
background-color:#f24437 ;
}
.button:active {
position:relative;
top:1px;
}

#first, #second { 
    font-size:16px; border-style:solid; padding:5px; border-width:6px; border-color:#cc1a32 ; box-shadow: 11px 8px 5px 0px rgba(42,42,42,.75); font-weight:bold; text-align:center;
} 
#first, #second:focus { 
outline:none;
}*/
