#inputs {
	margin-top: 10px;
	width: 100%;
	height: auto;
}

#result {
	

}

.button {
  color: black;
  background: #BDBDBD;
  font-weight: bold;
  border: 1px solid #900;
}
 
.button:hover {
  color: #FFF;
  background: #900;
}