
.container {
	width: 1440px;
}

.main-container {
 	background-color: white;
	margin: 100px auto;
	width: 100%;
	display: inline-block;
	padding: 10px;
}

.calc-box {
	margin:  0 auto;
	padding: 2%;
	width: 35%;
}

#form {
	margin 0 auto;
	display: inline-block;
	width: 100%;
}

#buttons {
	margin: 0 auto;
	width: 90%;
}

#first {
	text-align: center;
	margin: 0 auto 20px;
	width: 90%;
}

#second{
	text-align: center;
	margin: 0 auto;
	width: 90%;
}

.ans-container {
	  background-color: white;
 	margin: 0 auto;
	 width: 100%;
  	display: inline-block;
  	padding: 10px;
}

#answer {
	margin: 0 auto;
	width: 100%;
}

#answer h1 {
	font-size: 68pt;
	font-weight: bold;
	color: black;
	list-style: none;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

#result {
}

li {
	color: #888888;
	list-style: none;
	margin: 0 auto;
	width: 100%;
	text-align: center;
}
#buttons {
	margin: 20px auto;
	width: 70%;
}
.button {
	box-shadow: 3px 4px 0px 0px #8a2a21 ;
	background:linear-gradient(to bottom, #c62d1f  5%, #f24437  100%);
	background-color:#c62d1f ;
	border-radius:18px;
	border:1px solid #d02718 ;
	display:inline-block;
	cursor:pointer;
	color:#ffffff ;
	font-family:Verdana;
	font-size:17px;
	margin: 0 auto;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:2px 2px 0px #810e05 ;
	border: none;
}

#inputs {

	margin-top: 10px;
	width: 100%;
	height: auto;
}

.button:hover {

background:linear-gradient(to bottom, #f24437  5%, #c62d1f  100%);
	background-color:#f24437 ;
	border: none;
}
.button:active {
	position:relative;
	border: none;
}

#first, #second { 
    font-size:16px; border-style:solid; padding:5px; border-width:6px; border-color:#cc1a32 ; box-shadow: 11px 8px 5px 0px rgba(42,42,42,.75); font-weight:bold; text-align:center;
} 
#first, #second:focus { 
	outline:none;
}

.button {
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:18px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:2px 2px 0px #810e05;
}

.button:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}

.button:active {
	position:relative;
	top:1px;
}

#first, #second { 
 	font-size:16px; border-style:solid; padding:5px; border-width:6px; border-color:#cc1a32; box-shadow: 11px 8px 5px 0px rgba(42,42,42,.75); font-weight:bold; text-align:center;
 } 

#first, #second:focus { 
	outline:none;
} 